<% include partials/head %>


<body>
    
  <!-- Begin Container -->
<div class="container">
    <div class="defaultMenu">
    <a href="/createpoll" class="btn btn-default">Create Poll</a>
    <a href="/mypolls" class="btn btn-default">My Collection</a>
    <a href="/allpolls" class="btn btn-default">All Polls</a>
    <a href="/logout" class="btn btn-default">Logout</a>
    </div>
    
    <form action="/createpoll" method="post">
    <div class="form-group">
      <label for="question">Question:</label>
      <input type="text" class="form-control" id="question" name="question" placeholder="Enter question">
    </div>
    <div class="form-group">
        
      <label for="options">Options: (separate each option with / )</label>
      <input type="text" class="form-control" id="options" name="options" placeholder="Enter option">
      
    </div>
    <input type="submit" value="Submit" class="btn btn-default">
  </form>
    
   <h1 class=" fa fa-user"> Profile</h1><br>
        <span><strong>user id</strong>: <%= user._id ? user._id : '' %></span><br>
    
</div>
  <!-- /.container -->
</body>
</html>