<% include partials/head %>


<body>
    
  <!-- Begin Container -->
<div class="container">
    <div class="row cardtop">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats cardMenu" >
                        <div class="card-header card-options" data-background-color="green">
                            <a href="/createpoll">Create Poll</a>
                        </div>
                        <div class="card-content">
                            <p class="category">Instructions</p>
                            <div class="cardInstructions">
                            <p class="title intructions">Separate options with "/"</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="blue">
                            <a href="/allpolls">All Polls</a>
                        </div>
                        <div class="card-content">
                            <p class="category"><br>Total</p>
                            <h3 class="title"><%= totalpollsnumber %></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="purple">
                            <a href="/mypolls">My Collection</a>
                        </div>
                        <div class="card-content">
                           <p class="category"><br>Total</p>
                            <h3 class="title"><%= totalmycollection %></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="orange">
                            <a href="/logout">Logout</a>
                        </div>
                        <div class="card-content">
                            <p class="category"><br>See Ya</p>
                            <h3 class="title"><a id="logoutB" href="/logout"><i class="fa fa-sign-out"></i></a></h3>
                        </div>
                    </div>
                </div>
            </div>
    
    <div class="card">
        <div class="card-header" data-background-color="green">
                        <h4 class="title greenTitle">Create Poll</h4>
                
                    </div>
                    
            <div class="card-content">
                     <form action="/createpoll" method="post">
                    <div class="form-group">
                      <label class="category" for="question">Question:</label>
                      <input type="text" class="form-control" id="question" name="question" placeholder="Enter question" maxlength="75">
                    </div>
                    <div class="form-group">

                      <label class="category" for="options">Options: </label>
                      <input type="text" class="form-control" id="options" name="options" placeholder="Enter options separated by '/' backslash" maxlength="70">

                    </div>
                    <input type="submit" value="Submit" class="btn btn-default submitPoll">
                  </form>

            </div>
    </div>
    
    
    
    
    
    
   
    
</div>
  <!-- /.container -->
</body>
</html>