<% include partials/head %>


<body>
    
  <!-- Begin Container -->
<div class="container">
   <div class="defaultMenu"> 
   <a href="/createpoll" class="btn btn-default">Create Poll</a>
   <a href="/mypolls" class="btn btn-default">My Collection</a>
   <a href="/allpolls" class="btn btn-default">All Polls</a>
   <a href="/logout" class="btn btn-default">Logout</a>
   </div>
    
    
    <div class="text-center">
   <h1>My Polls</h1>
     
    <% if (question.length > 0) { %>
    <%    for (i=0; i < question.length; i++) { %>
        <div class="pollsTable">
            <a href="/allpolls/<%= pollid[i] %>"><%= question[i] %></a> 
        </div> 
    <%    } %>
        
    <% } %>
    
    </div>
    
    
     </div>
  <!-- /.container -->
</body>
</html>