<% include partials/head %>

  <body>
      <div class="container">
    
    <div class="row cardtop">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats cardMenu" >
                        <div class="card-header card-options" data-background-color="green">
                            <a href="/createpoll">Create Poll</a>
                        </div>
                        <div class="card-content">
                            <p class="category">Instructions</p>
                            <div class="cardInstructions">
                            <p class="title intructions">Separate options with "/"</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="blue">
                            <a href="/allpolls">All Polls</a>
                        </div>
                        <div class="card-content">
                            <p class="category"><br>Total</p>
                            <h3 class="title"><%= totalpollsnumber %></h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="purple">
                            <a href="/mypolls">My Collection</a>
                        </div>
                        <div class="card-content">
                           <p class="category"><br>Total</p>
                            <h3 class="title"><%= totalmycollection %></h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header card-options" data-background-color="orange">
                            <a href="/logout">Logout</a>
                        </div>
                        <div class="card-content">
                            <p class="category"><br>See Ya</p>
                            <h3 class="title"><a id="logoutB" href="/logout"><i class="fa fa-sign-out"></i></a></h3>
                        </div>
                    </div>
                </div>
            </div>
    
 <div class="card">
        <div class="card-header" data-background-color="turquoise">
                        <h4 class="title turquoiseT"> Signup</h4>
                    </div>
            
                    
            <div class="card-content">
                <% if (message != null) { %>
                <div class="alert-danger"><%= message %></div>
                <% } %>
                     <form action="/signup" method="post">
                      <div class="form-group">
                          <label class="category">Email:</label>
                          <input type="text" class="form-control" name="email" maxlength="50">
                      </div>
                      <div class="form-group">
                        <label class="category">Password:</label>
                        <input type="password" class="form-control" name="password" maxlength="20" />
                      </div>
                      <div>
                        <input type="submit" class="form-control btn-default submitPoll submitSignup" value="Submit" />
                      </div>
                    </form>

            </div>
    </div>



  
    </div>
      
      
      
   
  </body>
</html>
