<% include partials/head %>


<body>
    
  <!-- Begin Container -->
<div class="container">
   
    <strong>UserId:</strong> <%= userid %><br>
    
    
   <h1 class=" fa fa-user">Collection</h1><br>
    <strong>Question:</strong> <%= title %><br> 
    <% if (options.length > 0) { %>
    <%    for (i=0; i < options.length; i++) { %>
         <p>Option: <%= options[i].title %></p> 
         <p>Votes: <%= options[i].votes %></p> <br>
    <%    } %>
        
    <% } %>
   
    
    
    <% if(userid != "unauthenticated") { %> 
<div>
<form action='/insertop' method="post">
    <div class="form-group">
        
      <label for="newOption">New Option: </label>
      <input type="text" class="form-control" id="newOption" name="newOption" placeholder="Enter new option">
          
        
    </div>
    <input type="submit" value="Submit" class="btn btn-default">
  </form>
</div>
   <%  } %>
    
<br>    

     <% if(userid == pollcreator) { %>
<div>
    <form action='/deletepoll' method="post" >
    <input type="submit" value="Delete" class="btn btn-default">
</form>

</div>    
    <%  } %>
    
    
     </div>
  <!-- /.container -->
</body>
</html>