body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  background-color: aliceblue;
    
}


.fa-sign-out { 
    float: right; 
}

nav {
    border-radius: 0px !important;
}

.titleV {
    text-align: center;
    margin-bottom: 50px;
}

#presentingApp {
    margin-bottom: 50px;
} 

.hideme {
    display:none;
}

.chart-container {
  margin-top: 10px;
  height: 480px;
  width: 480px;
}

.voteButtons {
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 0 12px 20px -10px rgba(216, 216, 216, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(208,208,208, 0.2);
    font-size: 14px;
    font-weight: 400;
}

.question {
    margin-bottom: 15px;
}

.btn-danger {
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}



#loginB {
    background: white;
    box-shadow: 0 12px 20px -10px rgba(216, 216, 216, 1), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(208,208,208,1);
}

#signupB {
    background: white;
    box-shadow: 0 12px 20px -10px rgba(216, 216, 216, 1), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(208,208,208,1);
}

#facebookB {
    background: linear-gradient(60deg, #3b5998, #3b5998);
    color: white;
    box-shadow: 0 12px 20px -10px rgba(0,0,128, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0,0,128, 0.2);
}

#twitterB {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    color: white;
}

#googleB {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
    color: white;
}

//* Home Page *//

.cardA {
    width: 100%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0,0,0, 0.87);
    background-color: white;
}

.cardA .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}

.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
}
.card .card-height-indicator {
  margin-top: 100%;
}
.card .title {
  background: #fff;
  margin-top: 0;
  margin-bottom: 5px;
}
.card .card-image {
  height: 60%;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: -30px;
  border-radius: 6px;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  pointer-events: none;
}
.card .card-image .card-title {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 1.3em;
  text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
}
.card .category:not([class*="text-"]) {
  color: #999999;
}
.card .card-content {
  padding: 15px 20px;
}
.card .card-content .category {
  margin-bottom: 0;
}
.card .card-header {
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin: -20px 15px 0;
  border-radius: 3px;
  padding: 15px;
  background-color: #999999;
}

.card .card-options {
    width: 180px;
    font-size: 20px;
    padding-top: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
       
}

.card .card-options a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none !important;
}

.card .card-header .title {
  color: white;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(60deg, #D8D8D8, #D0D0D0);
}
.card .card-header .category {
  margin-bottom: 0;
  color: rgba(255, 255, 255, 0.62);
}


.card .card-footer {
  margin: 0 20px 10px;
  padding-top: 10px;
  border-top: 1px solid #eeeeee;
}
.card .card-footer .content {
  display: block;
}
.card .card-footer div {
  display: inline-block;
}

.card .card-footer .stats {
  line-height: 22px;
  color: #999999;
  font-size: 12px;
  margin-top: 4px;
  margin-bottom: 4px;

}
.card .card-footer .stats .material-icons {
  position: relative;
  top: 4px;
  font-size: 16px;
}
.card .card-footer h6 {
  color: #999999;
}
.card img {
  width: 100%;
  height: auto;
}
.card .category .material-icons {
  position: relative;
  top: 6px;
  line-height: 0;
}


.card .table {
  margin-bottom: 0;
}
.card .table tr:first-child td {
  border-top: none;
}
.card [data-background-color="purple"] {
  background: linear-gradient(60deg, #ab47bc, #8e24aa);
  box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}
.card [data-background-color="blue"] {
  background: linear-gradient(60deg, #26c6da, #00acc1);
  box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}
.card [data-background-color="green"] {
  background: linear-gradient(60deg, #66bb6a, #43a047);
  box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.card [data-background-color="orange"] {
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}
.card [data-background-color="red"] {
  background: linear-gradient(60deg, #ef5350, #e53935);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.card [data-background-color="darkblue"] {
  background: linear-gradient(60deg, #3b5998, #3b5998);
  box-shadow: 0 12px 20px -10px rgba(0,0,128, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0,0,128, 0.2);
}

.card [data-background-color="grey"] {
  background: linear-gradient(60deg, #D8D8D8, #D0D0D0);
  box-shadow: 0 12px 20px -10px rgba(216, 216, 216, 1), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(208,208,208,1);
}

.card [data-background-color="turquoise"] {
  background: linear-gradient(60deg, #89ecda, #3bd6c6);
  box-shadow: 0 12px 20px -10px rgba(216, 216, 216, 1), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(208,208,208,1);
}




.card [data-background-color] {
  color: #FFFFFF;
}
.card [data-background-color] a {
  color: #FFFFFF;
}

.card-stats .title {
  margin: 0;
}
.card-stats .card-header {
  float: left;
  text-align: center;
}
.card-stats .card-header i {
  font-size: 36px;
  line-height: 56px;
  width: 56px;
  height: 56px;
}
.card-stats .card-content {
  text-align: right;
  padding-top: 10px;
  height: 100px;
}




#mainTitle {
    font-weight:600;
    color: white;
}


.cardtop {
    margin-top: 40px;
    margin-bottom: 50px;
}

/*** table ***/

.table > thead > tr > th {
  border-bottom-width: 1px;
  font-size: 1em;
  font-weight: 300;
}
.table .radio,
.table .checkbox {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  padding: 0;
  width: 15px;
}
.table .radio .icons,
.table .checkbox .icons {
  position: relative;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 12px 8px;
  vertical-align: middle;
}
.table > thead > tr > th {
  padding-bottom: 4px;
}
.table .td-actions {
  display: flex;
}
.table .td-actions .btn {
  margin: 0px;
  padding: 5px;
}
.table > tbody > tr {
  position: relative;
}

.text-danger {
  color: #f44336;
}

.card .table {
  margin-bottom: 0;
 
}

.card .table tr {
    width: auto;
    height: auto; 
}


.card .table tr td a{
  color: black;
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none !important;
}


.card .table tr:hover {
    background-color: aliceblue;
}


#logoutB {
    text-decoration: none !important;
    color: black;
}


.card .card-content .cardInstructions p {
    font-size: 19px !important;
    margin-top: 12px;
}

.card .card-header .purpleTitle {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
} 

.card .card-header .blueTitle {
    background: linear-gradient(60deg, #26c6da, #00acc1);
}

.card .card-header .greenTitle {
    background: linear-gradient(60deg, #66bb6a, #43a047); 
}

.card .card-content label {
    font-size: 18px;
}

.card .card-content .submitPoll {
    background-color: darkgray;
    color: white !important;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 12px 20px -10px rgba(216, 216, 216, 0.5), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(208,208,208,0.5);
}

.card .card-content .submitLogin {
    width: 200px !important;
}

.card .card-content .submitSignup {
    width: 200px !important;
}



.card .card-content .aboutHome {
    font-size: 22px;
    color: darkgray;
    font-weight: 500;
    margin-bottom: 10px;
}

.card .card-content-specific {
    text-align: left;
    height: auto;
}


.card .graphicContent {
    width: 450px;
    height: 450px;

}

.chart-container{
    margin-top: 0;
}


.card .card-content .iconV {
    width:48px;
    height:48px; 
    margin-left: 5px;
}

.card .card-content .votedA {
    font-size: 18px;
    font-weight: 600;
    color: darkgray;
}

.card .card-header .turquoiseT {
    background: linear-gradient(60deg, #89ecda, #3bd6c6);
}

.card .card-content .alert-danger {
    background-color: white;
    font-size: 16px;
    color: red;
}

